<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Link Washer</title>
	<link rel="stylesheet" href="/css/style.css" type="text/css" /> 
</head>
<body>
	<header>
		<div id="logo"><a href="/"><img src="images/logo.png" /></a></div>
		<div id="header"><a href="/">Link Washer</a></div>
	</header>
	<div id="container"> 
		<p>Enter or paste your URL so we can shrink it for you.</p>
		<form id="shorten" action="/" method="post">
			<input name="url" size="70" type="text" class="url">
			<input type="submit"  value="Shrink!" class="button">
		</form>
	</div>
	<div id="html5"><div class="hearttext">We <span class="heart">&#9829;</span> </div><a href="http://validator.w3.org/check?uri=referer"><img src="images/html5.png"/></a> <div class="heartend">!</div></div>
	<footer>&copy; 2011 by Zoran Mirolović<br/>design by Dino Paškvan</footer>
</body>
</html>
